  *{
    margin: 0;
    padding: 0;
    font-family: 'Arial Narrow Bold';
  }

  header{
    background-color:#366ba8;
    color:rgb(3, 3, 37);
    height: 6vh;  
    position: sticky;
    top: 0px;
    text-align: center;
  }

  #logoPrincipal{
    position:fixed;
    left:550px;
    height: 6vh;
    width: 4vw;
  }

  #Buscar{
    position: fixed;
    right: 50px;
    margin: 10px 15px;
    height: 22px;
  }

  #logoBuscar{
    position: fixed;
    right: 24px;
    top: 10px;
    width: 2vw;
    height: 3.5vh;
  }

  #botaoBuscar{
    position: fixed;
    right: 18px;
    top: 10px;
    width: 1vw;
    height: 3.5vh;
  }

  body{
    background-color:#acc2dc;
  }

  main{
    font-size: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-evenly;
  }

  .conteiner{
    border-radius: 20px;
    padding: 15px;
  }

  .conteiner__card{
    background-color:rgb(130, 177, 224);
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid rgba(12, 24, 71, 0.83);
    border-radius: 20px;
    justify-content: space-around;
    height: 68vh;
    width: 28vw;
  }

  div{
    text-align: right;
  }

  h3{
    font-size: 23px;    
  }
   
  h6{
    font-size: 17px;
    color:rgba(5, 5, 35, 0.884);
    text-align: center;
    line-height: 3rem;
  }
  
  p{
    font-size:0.8rem;
    font-family: sans-serif;
    color:#040117;
    width: 90%;
    height: 45%;
    margin-bottom: 20px;
    line-height: 2vh;
  }
  
  img{
    width: 24vw;
    height: 25vh;
    border-radius: 8%;
  }
  
  ul{
    list-style-type:none;
    line-height:3rem;
  }

  a{
    text-decoration:none;
  }
  
  button{
    background-color:rgb(133, 191, 210);
    border:1px solid;
    padding:2px 20px;
    border-radius:3px;
    margin:0 auto;
  }

  form{
    height: 10vh;
    padding: 0px 1px;
    text-align: center;
  }

  footer{
    background-color:rgb(15, 30, 66);
    color:white;
    margin-top: 1vh;
    text-align: center;
    padding: 1vh;
  }